@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
.head{
  background-color: rgb(191 219 254);
}

@layer components{
    .w-88{
      width: 22rem;
    }
    .w-108{
      width:32rem;
    }
    .w-120{
      width:40rem;
    }
    .h-108{
      height:32rem;
    }
  }
